:root {
    --fill: #2a2a2a;
    --fill-active: #2a2a2ab1;
    --stroke: #333;
}

button:active {
    background: var(--fill-active);
}
button:hover {
    border-color: #505050;
}

.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}

.OnePointTwoFiveEm {
    text-indent: 1.25em;
}

#counter {
    font-size: x-large;
    padding-bottom: 0.05em;
}

.xlarge {
    font-size: x-large;
}

.redb {
    background: transparent !important;
    border: 2px solid rgb(237, 100, 100) !important;
    width: 75%;
    font-size: large;
}
.blueb {
    background: transparent !important;
    border: 2px solid cornflowerblue !important;
    width: 75%;
    font-size: large;
}

.blueb:hover {
    background: #0099ff25 !important;
}
.blueb:active {
    background: #0044aa25 !important;
}

.redb:hover {
    background: #ff000025 !important;
}
.redb:active {
    background: #aa000025 !important;
}

#stat {
    word-break: break-all;
}

#boostsection {
    flex: space-evenly;
    flex-direction: row;
    gap: 2.375em;
}
#nbnb {
    flex: space-evenly;
    flex-direction: row;
    gap: 1.5em;
}
#bnbn {
    display: flex;
    flex: space-evenly;
    flex-direction: row;
    gap: 1.5em;
}

.button {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--stroke);
    box-shadow: none;
    font-weight: 500;
    cursor: pointer;
    background: var(--fill);
    color: snow;
    transition: 0.1s ease-in-out background;
}

.tabopener {
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.simpleflexcenter {
    display: flex;
    justify-content: center;
}

#veryouterboost {
    display: none;
}

#nuclearshow {
    display: none;
}

#bangshow {
    display: none;
}

#mergeshow {
    display: none;
}

#nuclearalphashow {
    display: none;
}

.withtheoutline {
    border: 0.2em solid #333333;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-radius: 10px;
}

#nextfeature {
    font-size: larger;
    padding-bottom: 0.3em;
}

.flex {
    display: flex;
}

.flex.center {
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.flex.shrink {
    flex-shrink: 100;
}


.flex.reactor {
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.flex.center.reactorcosts {
    gap: 10.5em;
}

#inlinereactor {
    display: flex;
    flex-direction: row;
    flex-shrink: 100;
    justify-content: center;
}

#shrunkentop {
    display: flex;
    flex-shrink: 100;
    flex-direction: column;
    align-items: center;
}

html {
    background-color: black;
}
